#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.dbmdl
*.orig
*.installlog
*.userprefs
*.vscode
.vs
bin
obj
packages
**/node_modules/**
**/realm-object-server/**
node_modules
_ReSharper.Caches
node_modules/
*.favdoc
**/.vscode/**
#Ignore JetBrains Rider ide files
.idea/

# Ignore Environment File
.env

# DOTNET
appsettings.Development.json